<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
    </style>
</head>
<body>
<h1><%= name.toUpperCase() %></h1>
<p>hello, <%= name %></p>
</body>
<script>
// 验证同源下请求自动携带cookie
    window.onload = function(){
        var xhr = new XMLHttpRequest()
        xhr.open('GET', 'http://localhost:3000/form_get?username=123')
        xhr.withCredentials = true
        xhr.onload = function(data){
            console.log(data)
        }
        xhr.send()
    }
</script>
</html>
